@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}









.outer-wrapper {
  max-width: 100%;
  max-height: fit-content;
}
.table-wrapper {
  overflow-x: scroll;
  height: fit-content;
 
  
}
.table-wrapper::-webkit-scrollbar {
  background-color: transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #BBBAD2; 
  border-radius: 10px;
  padding: 5px;
}


table {
  
  min-width: max-content;
  
  border-collapse: separate;
  border-spacing: 0px; 
  width: 100%;   
  
}



table th{
  position: sticky; 
  top: 0px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;

} 



table th, table td {
  
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

table td {
  text-align: left;
  
  font-size: 15px;
  
  padding-left: 20px;
  
}
.roll:nth-child(odd){
  background-color: #f9f8ff;
}
